# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sw?

# Visual Studio
.vs/

# VS Code
.vscode/

# Node
node_modules/
dist/

# React
Frontend/node_modules/

# .NET
**/bin/
**/obj/

# Logs
*.log

# Arquivos temporários
*.tmp

# Sistema operacional
.DS_Store
Thumbs.db
Backend/bin/
Backend/obj/